@charset "UTF-8";

body {
    /* background-color: rgb(153, 123, 209); */
    background: url(../images/mainImageIris.jpg) no-repeat center center / cover;

    color: #fff;
    text-shadow:
        1px 1px 0 #000, -1px -1px 0 #000,
        -1px 1px 0 #000, 1px -1px 0 #000,
        0px 1px 0 #000,  0-1px 0 #000,
        -1px 0 0 #000, 1px 0 0 #000;
}

.drawer,
.loading {
    color: #000;
    text-shadow: none;
}


header {
    height: auto;
    /* color: #000;
    text-shadow: none; */
}
h1 {
    margin-top: 40px;
}

input, select, textarea {
    height: 32px;
    padding: 0 4px;
    margin-top: 8px;
    background-color: #f4f4f4;
    color: #000;
    font-size: 20px;
    line-height: 1.6;
}
option {
    width: 100px;
}
textarea {
    height: 200px;
}

.formItem {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

label {
    position: relative;
    text-align: center;
    height: 24px;
    font-size: 20px;
    line-height: 1.2;
}
.formItem span {
    position: absolute;
    right: 0;
    display: inline-block;
    height: 24px;
    padding: 4px 8px;
    border-radius: 10px;
    margin-right: 8px;
    color: #ffffff;
    background-color: rgb(255, 50, 50);
    font-size: 14px;
}
.formSubmit {
    text-align: center;
    margin-top: 40px;
}
.formSubmit input {
    width: 200px;
    height: 50px;
    padding: 0;
    margin: 0;
    background-color: rgb(227, 255, 127);
    color: #000;
}




@media screen and (min-width:768px) {
    h1 {
        margin-top: 80px;
    }
    form {
        width: 80%;
        margin: 0 auto;
    }
    .formItem {
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
    }

    input, select, textarea {
        flex-basis: 60%;
        padding: 0 12px;
        margin-top: 0;
        font-size: 20px;
    }

    label {
        flex-basis: 40%;
        padding-right: 60px;
        text-align: right;
    }
    .formSubmit input {
        width: 300px;
        height: 80px;
    }

}

@media screen and (min-width:1200px) {
    .formItem {
        margin-top: 30px;
    }

}
